
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
    background-color: #493b3b;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mdBanner {
    $aItemGrid:500px;
    $aRotateY: 20;
    width: 100vw;
    height: 100vh;
    margin: 100px auto;
    .btnPrev , .btnNext {
        color: #fff;
    }
    .mdBanner-list {
        position: relative;
        width: $aItemGrid;
        margin: 0 auto;
        transform-style: preserve-3d;
        perspective: 500px;
        min-height: 800px;
        li {
            transform-origin:50% 50%;
            display: block;
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
            position: absolute;
            width: $aItemGrid;
            top:50%;
            left:0;
            transition: all .7s ease;
            margin-top: -50%;
            -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.3));
            a {display: block;}
            img {
                width: 100%;
                display: block;
            }
        }
        // //before
        // li.set-actors-0,li.go-actors-0,li.set-actors-before,li.go-actors-before {
        //     transform: translateX(-$aItemGrid*1.4) rotateY(40deg) scale(0.6);
        //     z-index: 1; 
        //     opacity: 0.6;

        // }
        // li.set-actors-1,li.go-actors-1  {
        //     transform: translateX(-$aItemGrid*1) rotateY(10deg) scale(0.8) translateX(-10px);
        //     z-index: 2;
        //     opacity: 0.8; 

        // }
        // //center
        // li.set-actors-2,li.go-actors-2  {
        //     transform: translateX(0px) rotateY(0deg);
        //     z-index: 3;
        //     opacity: 1.0; 

        // }
        // //after
        // li.set-actors-3,li.go-actors-3  {
        //     transform: translateX($aItemGrid*1) rotateY(-10deg) scale(0.8) translateX(10px);
        //     z-index: 2;
        //     opacity: 0.8; 
        // }
        // li.set-actors-4,li.go-actors-4 ,li.set-actors-after,li.go-actors-after {
        //     transform: translateX($aItemGrid*1.4) rotateY(-20deg) scale(0.6);
        //     z-index: 1;
        //     opacity: 0.6;
        // }
        // li.set-actors-before,li.go-actors-before,li.set-actors-after,li.go-actors-after{
        //     opacity: 0.3;
        // }
    }
}

